
$footer-color: rgba(203, 203, 210, 1);
$footer-link-active: rgb(1, 98, 174);

.footer {
    @include center-block;
    max-width: $max-width;
    color: $footer-color;
    height: $footer-height;
    font-family: 'Source Sans Pro'; //HelveticaLight';

    @mixin footer-link {
        color: $footer-color;
        text-decoration: none;
    }

    a:link, a:visited, a:hover {
        @include footer-link;
    }

    a:active {
        color: $footer-link-active;
    }
}

.copyright {
    float: left;
}

.info {
    float: right;
}

.push {
    height: $footer-height;
}