
$header-color: rgba(0, 95, 168, 0.9);
$header-initial-color: rgba(0, 144, 255, 0.8);
$header-radius: 3px;

header {
    @include       center-block;
    font-size:     4em;
    max-width:     $max-width;
    color:         $header-color;
    border-radius: $header-radius;
    font-family:   'Merriweather';

    a:link, a:visited, a:hover, a:active {
        color:           $header-color;
        text-decoration: none;
    }

    initial {
        font-weight: 900;
        color:       $header-initial-color;
    }
}//end header

