@charset "UTF-8";

@font-face{
  font-family: 'TimesBurner';
  src: url(../Fonts/TimeBurner/timeburner.ttf) format("truetype");
}

@font-face{
  font-family: 'HelveticaBold';
  src: url(../Fonts/Helvetica/HelveticaNeue-Bold.ttf) format("truetype");
}

@font-face {
	font-family: 'HelveticaMedium';
	src: url(../Fonts/Helvetica/HelveticaNeue-Medium.ttf) format("truetype");
}

@font-face {
	font-family: 'HelveticaLight';
	src: url(../Fonts/Helvetica/HelveticaNeue-Light.ttf) format("truetype");
}
/*   background-color: #22313F;
#2B2B2B
#DE1B1B
#F6F6F6
#E9E581
rgba(255, 255, 255, 0.9);
*/
html {
  height: 100%;
  width: 100%;
}

body {
    padding: 1em;
	background: url(../Images/bg-body-black.jpg);
}

header {
	position: relative;
	left: 15%;
	width: 70%;
	text-align: center;
	font-size: 7.5em;
	color: rgba(0, 95, 168, 0.9);
	font-family: 'TimesBurner';
}

header a:link {
	color: rgba(0, 95, 168, 0.9);
	font-family: 'TimesBurner';
	text-decoration: none;
}

header a:visited {
	color: rgba(0, 95, 168, 0.9);
	font-family: 'TimesBurner';
	text-decoration: none;
}

header a:hover {
	color: rgba(0, 95, 168, 0.9);
	font-family: 'TimesBurner';
	text-decoration: none;
}

header a:active {
	color: rgba(0, 95, 168, 0.9);
	font-family: 'TimesBurner';
	text-decoration: none;
}

.navBar {
	position: relative;
	font-family: "TimesBurner";
	font-weight: 600;
	font-size: 1.23em;
	color: rgba(0, 144, 255, 0.5);
	width: 70%;
	left: 15%;
	text-align: center;
}

#current {
	display: inline-block;
	text-decoration: none;
	color: rgba(204, 203, 203, 0.9);
	border-radius: .25em;
	background-color: rgba(9, 9, 9, 0.3);
	padding-top: .2em;
	padding-bottom: .2em;
	padding-left: .4em;
	padding-right: .4em;
	margin-left: 1em;
	margin-right: 1em;
}

nav a:link {
	display: inline-block;
	text-decoration: none;
	color: rgba(204, 203, 203, 0.9);
	border-radius: .25em;
	background-color: rgba(9, 9, 9, 0.0);
	padding: .2em;
	margin-left: 1em;
	margin-right: 1em;
	transition: .2s;
}

nav a:visited {
	display: inline-block;
	background-color: rgba(9, 9, 9, .10);
	text-decoration: none;
	color: rgba(204, 203, 203, 0.9);
	margin-left: 1em;
	margin-right: 1em;
	transition: 0.2s;
}

nav a:hover {
	display: inline-block;
	border-radius: .2em;
	text-decoration: none;
	color: rgba(204, 203, 203, 0.9);
	background-color: rgba(9, 9, 9, .30);
	margin-left: 1em;
	margin-right: 1em;
	transition: 0.15s;
}

nav a:active {
	display: inline-block;
	background-color: rgba(9, 9, 9, .40);
	text-decoration: none;
	color: rgba(0, 95, 168, 0.99);
	margin-left: 1em;
	margin-right: 1em;
	transition: 0.15s;
}

#TestCanvas {
	position: relative;
	margin-top: 7%;
	left: 42.3%; 
	right: 42.5%;
	height: 30%;
	width: 15%;
}


#blogBody {
	height: 100%;
	width: 70%;
	margin: auto;
	margin-top: 3em;
	position: relative;
}

#article {
	background-color: rgba(9, 9, 9, .2);
	border-radius: .5em;
	padding: 1.5em;
	padding-top: 1.7em;
}

#article articleTitle {
	font-family: 'TimesBurner';
	color: rgba(200, 200, 200, .9);
	font-size: 3.2em;
	text-align: left;
	width: inherit;
	margin-top: 1em;
	line-height: .8em;
}

#article articleSubheader {
	font-family: 'TimesBurner';
	color: rgba(180, 180, 180, .85);
	font-size: .75em;
	margin-left: 3em;
}

#article .articleContent {
	text-indent: 2em;
	font-family: 'HelveticaLight';
	font-size: .95em;	
	color: rgba(200, 200, 200, .8);
	margin-top: .6em;;
	text-align: justify;
}






