

//Font-faces used from standards.usa.gov
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../Fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../Fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-italic-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../Fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("../Fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-light-webfont.woff2") format("woff2"), url("../Fonts/merriweather-light-webfont.woff") format("woff"), url("../Fonts/merriweather-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../Fonts/merriweather-regular-webfont.woff") format("woff"), url("../Fonts/merriweather-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("../Fonts/merriweather-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-italic-webfont.woff2") format("woff2"), url("../Fonts/merriweather-italic-webfont.woff") format("woff"), url("../Fonts/merriweather-italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../Fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../Fonts/merriweather-bold-webfont.woff") format("woff"), url("../Fonts/merriweather-bold-webfont.ttf") format("truetype");
}


$max-width: 1295px;
$page-padding: 1em;
$footer-height: 3em;

* {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    font-size: medium;
    padding: $page-padding;
    background: url(/Imgs/bg-body-black.jpg);
}

.wrapper {
    min-height: 100%;
    margin: 0 auto 0-$footer-height;
}

center {
    width: 100%;
    text-align: center;
}

@mixin center-block {
    margin-left: auto;
    margin-right: auto;
}

.icon {

    @mixin light($percent) {
        -webkit-filter: brightness($percent);
        filter: brightness($percent);
    }

    a:link, visited {
        @include light(100%);
        transition: .1s;
    }

    a:hover {
        @include light(75%);
        transition: .1s;
    }

    a:active {
        @include light(60%);
        transition: .1s;
    }
}

.subtitle-icon {
    @extend .icon;
    float: right;
    height: 11px;
    max-height: 11px;
    line-height: 11px;
    margin-right: 0px;
    margin-left: .5em;
}

.footer-icon {
    @extend .icon;
    float: left;
    margin-right: 1em;
}

@import '_header.scss';
@import '_nav.scss';
@import '_article.scss';
@import '_footer.scss';
