@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../Fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../Fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-italic-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-italic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../Fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../Fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../Fonts/sourcesanspro-bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("../Fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-light-webfont.woff2") format("woff2"), url("../Fonts/merriweather-light-webfont.woff") format("woff"), url("../Fonts/merriweather-light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../Fonts/merriweather-regular-webfont.woff") format("woff"), url("../Fonts/merriweather-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("../Fonts/merriweather-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-italic-webfont.woff2") format("woff2"), url("../Fonts/merriweather-italic-webfont.woff") format("woff"), url("../Fonts/merriweather-italic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../Fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../Fonts/merriweather-bold-webfont.woff") format("woff"), url("../Fonts/merriweather-bold-webfont.ttf") format("truetype"); }

* {
  margin: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  font-size: medium;
  padding: 1em;
  background: url(/Imgs/bg-body-black.jpg); }

.wrapper {
  min-height: 100%;
  margin: 0 auto -3em; }

center {
  width: 100%;
  text-align: center; }

.icon a:link, .subtitle-icon a:link, .footer-icon a:link, .icon visited, .subtitle-icon visited, .footer-icon visited {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  transition: .1s; }

.icon a:hover, .subtitle-icon a:hover, .footer-icon a:hover {
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  transition: .1s; }

.icon a:active, .subtitle-icon a:active, .footer-icon a:active {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  transition: .1s; }

.subtitle-icon {
  float: right;
  height: 11px;
  max-height: 11px;
  line-height: 11px;
  margin-right: 0px;
  margin-left: .5em; }

.footer-icon {
  float: left;
  margin-right: 1em; }

header {
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  max-width: 1295px;
  color: rgba(0, 95, 168, 0.9);
  border-radius: 3px;
  font-family: 'Merriweather'; }
  header a:link, header a:visited, header a:hover, header a:active {
    color: rgba(0, 95, 168, 0.9);
    text-decoration: none; }
  header initial {
    font-weight: 900;
    color: rgba(0, 144, 255, 0.8); }

nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1295px;
  margin-top: .5em;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  font-family: 'Merriweather';
  font-weight: 400; }

navitem {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border-right: 2px solid #0162ae;
  border-left: 2px solid #0162ae;
  max-width: 6em;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  vertical-align: middle; }
  navitem a:link, navitem a:visited {
    color: #cbcbd2;
    text-decoration: none;
    flex-grow: 1;
    transition: .1s;
    background-color: rgba(25, 32, 37, 0.5); }
  navitem a:hover {
    color: #cbcbd2;
    text-decoration: none;
    flex-grow: 1;
    transition: .1s;
    background-color: #13181c; }
  navitem a:active {
    color: #cbcbd2;
    text-decoration: none;
    flex-grow: 1;
    transition: .1s;
    background-color: #0f1316;
    color: #0162ae; }

nav .current a:link, nav .current a:visited {
  background-color: #13181c; }

nav .current a:hover {
  color: #cbcbd2;
  text-decoration: none;
  flex-grow: 1;
  transition: .1s;
  background-color: none; }

nav .current a:active {
  color: #cbcbd2;
  text-decoration: none;
  flex-grow: 1;
  transition: .1s;
  background-color: #0f1316;
  color: #0162ae; }

.articles {
  margin-left: auto;
  margin-right: auto;
  max-width: 1295px;
  margin-top: 3em; }
  .articles .article {
    background-color: rgba(29, 32, 34, 0.7);
    border-radius: 5px;
    text-align: left;
    padding: 0.1em 1em 0.1em 1em;
    margin-bottom: 1em; }
    .articles .article .article-title {
      font-family: 'Merriweather';
      color: #cbcbd2;
      font-size: 1.75em;
      margin-top: .1em;
      font-weight: 300; }
      .articles .article .article-title a:link, .articles .article .article-title a:visited {
        color: #cbcbd2;
        text-decoration: none; }
      .articles .article .article-title a:hover {
        color: #969696;
        text-decoration: none; }
      .articles .article .article-title a:active {
        color: #0162ae;
        text-decoration: none; }
    .articles .article .article-subtitle {
      font-family: 'Source Sans Pro';
      color: #b4b4b4;
      margin-bottom: 1em;
      padding-left: 1em;
      clear: left; }
      .articles .article .article-subtitle a:link, .articles .article .article-subtitle a:visited {
        color: #b4b4b4;
        text-decoration: none; }
      .articles .article .article-subtitle a:hover {
        color: #969696;
        text-decoration: none; }
      .articles .article .article-subtitle a:active {
        color: #0162ae;
        text-decoration: none; }
      .articles .article .article-subtitle text {
        padding-left: 2em; }
    .articles .article .article-summary {
      font-family: 'Source Sans Pro';
      color: #cbcbd2;
      line-height: 1.8em;
      margin-bottom: .1em;
      margin-top: .1em; }
      .articles .article .article-summary center a:link, .articles .article .article-summary center a:visited {
        color: #a2a2af;
        text-decoration: none; }
      .articles .article .article-summary center a:hover {
        color: #878797;
        text-decoration: none; }
      .articles .article .article-summary center a:active {
        color: #6d6d7e;
        text-decoration: none; }
    .articles .article .article-content {
      font-family: 'Source Sans Pro';
      color: #cbcbd2;
      line-height: 1.8em;
      padding-bottom: 0.9em; }
      .articles .article .article-content p {
        text-indent: 2em; }
        .articles .article .article-content p a:link, .articles .article .article-content p a:visited {
          color: #13609d;
          text-decoration: none; }
        .articles .article .article-content p a:hover {
          color: #105286;
          text-decoration: none; }
        .articles .article .article-content p a:active {
          color: #0d446f;
          text-decoration: none; }
      .articles .article .article-content .image {
        padding: 9px;
        background-color: rgba(29, 32, 34, 0.7);
        border-radius: 5px;
        vertical-align: middle; }

.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1295px;
  color: #cbcbd2;
  height: 3em;
  font-family: 'Source Sans Pro'; }
  .footer a:link, .footer a:visited, .footer a:hover {
    color: #cbcbd2;
    text-decoration: none; }
  .footer a:active {
    color: #0162ae; }

.copyright {
  float: left; }

.info {
  float: right; }

.push {
  height: 3em; }

