
@charset "UTF-8";

@font-face{
  font-family: 'Audiowide';
  src: url("/Fonts/Audiowide-Regular.ttf");
}

html{
  height: 100%; 
}

body{
    padding: 1em;
    background-color: #22313F
}

.block{
	width: 75%;
	height: 43.75em;
	margin: auto;
	padding: 1em;
	padding-left: 3em;
    background-color: #0480bf
}

.blockHeader{
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 4em;
    color: rgb(1, 10, 16);
    border-bottom: 0.0325em solid rgba(1, 10, 16, .3);
} 

smallBlockHeader{
    font-size: 0.165em;
    font-family: 'Audiowide';
}

.sidebar a:link {
	text-decoration: none;
    color: rgba(0, 12, 19, 0.9);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

}
.sidebar  a:visited{
	text-decoration: none;
	color: rgba(0, 12, 19, 0.9);
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.sidebar a:hover{
    text-decoration: none;
	color: rgba(0, 12, 19, 0.55);
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.sidebar a:active{
	text-decoration: none;
	color: rgba(0, 8, 14, 1);
	-o-transition:.2s;
    -ms-transition:.2s;
	-moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.sidebar{
	margin-left: -.91em;
	width: 10%;
    font-family: 'Audiowide';
	font-size: 24px;
    color: rgba(0, 12, 19, 0.55);
	float: left;
}

.articleBody{
	float: left;
	width: 82%; 
    margin-top: 1.5em;
	line-height: 1.5em;
    color: rgba(0, 36, 57, 1);
}

articleHeader{
    font-weight: 400;
    font-family: 'Audiowide';
    font-size: 1.625em;
    color: rgba(0, 12, 19, 0.97);	
}

.article b{
	color: rgba(0, 12, 19, 0.93);
}

.article{
	margin-left: 1em;
    margin-bottom: 1.5em;
    font-size: 0.825em;
    text-align: left;
    font-family: 'Audiowide';
	text-indent: 1.875em; 
}

.footer{

}

/* <br> formats */

.blockHeaderBr{
    font-size: 2.063em;   
}
.articleNewLine{
    font-size: 0.063em; /*1px*/
}

