
@charset "UTF-8";

@font-face{
  font-family: 'Audiowide';
  src: url("/Fonts/Audiowide-Regular.ttf");
}

html{
  height: 100%; 
}

body{
    padding-top: 2.362em; /*1cm*/
    background-color: #22313F/*rgba(0, 77 ,125, 1); /*rgba(0, 77, 125, 1)*/
}

.block{
    width: 75%;
    height: 93.750em;
    margin: auto;
    padding: 2.362em; /*1cm*/ 
    background-color: #0480bf
}

.blockHeader{
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 3.813em; /* about 61px*/
    color: rgb(1, 10, 16);
    border-bottom: 0.0325em solid rgba(1, 10, 16, .3);
} 

smallBlockHeader{
    font-size: 0.165em;
    font-family: 'Audiowide';
}

a.sidebar:link{
	text-decoration: none;
    color: rgb(0, 12, 19);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;

}
a.sidebar:visited{
	text-decoration: none;
	color: rgb(0, 12, 19);
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a.sidebar:hover{
    text-decoration: none;
	color: rgba(0, 12, 19, 0.55);
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a.sidebar:active{
	text-decoration: none;
    color: rgb(0, 29, 47);
	border-bottom-width: 2px;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.sidebar{
    float: left; 
    width: 15%;
    font-family: 'Audiowide';
    font-size: 24px;
    text-align: justify;  
    color: rgba(0, 12, 19, 0.55);
}

.articleBody{
    margin-top: 1.563em;
    width: 81%;
    float: right;
    line-height: 150%;
    text-align: justify;
    color: rgb(0, 36, 57);
}

articleHeader{
    font-weight: 100;
    font-family: 'Audiowide';
    font-size: 1.625em;
    color: rgb(0, 24, 38);
}

.article{
    padding-left: 0%;
    margin-left: 1.563em;
    margin-bottom: 1.563em;
    font-size: 0.813em;
    text-align: left;
    font-family: 'Audiowide';
}    

.footer{

}

/* <br> formats */

.blockHeaderBr{
    font-size: 2.063em;   
}
.articleNewLine{
    font-size: 0.063em; /*1px*/
}

