<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name = "author" content = "Neelay Junnarkar">
    <meta name = "Keywords" content = "Neelay, Junnarkar, Neelay Junnarkar">
    <meta name = "description" content = "">
    <meta charset = "UTF-8">
    <script src="/Javascript/setCSS.js"></script>
    <noscript><link href= "/CSS/style.css" rel="stylesheet" type="text/css"></noscript>
    <script src = "/Javascript/analytics.js"></script>
	<link rel="shortcut icon" href="/Images/celticKnot_temp2.ico">
    <title>Neelay Junnarkar | PAGE </title>
  </head>
  <body>
      
    <div class = "block">
        
        <header>HEADER</header>
        
        <ul class = "sidebar">
			
            <li><a href = "" class = "sidebar">LINK1</a></li>
			<br class = newLine>
            <li style = "list-style-type: disc"><currentPage>CURRENT PAGE</currentPage></li>
        </ul>
        
        <div class = "articleBody">
            <articleHeader>ARTICLE HEADER</articleHeader>
            
            <div class = "article">
               ARTICLE
				br class = "articleNewLine" for new line
            </div>
        </div>
        
    </div> <!--end of block-->

    <div class = "footer">
      
    </div> <!--end of footer-->
  </body>
</html>